@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../Assets/Fonts/Inter/inter-v7-latin_cyrillic-regular.woff2") format("woff2"),
    url("../Assets/Fonts/Inter/inter-v7-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../Assets/Fonts/Inter/inter-v7-latin_cyrillic-600.woff2") format("woff2"),
    url("../Assets/Fonts/Inter/inter-v7-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: "SF pro text";
  font-style: normal;
  font-weight: 400;
  src: url("../Assets/Fonts/Sf-pro-text/SF-Pro-Text-Regular.woff2") format("woff2"),
    url("../Assets/Fonts/Sf-pro-text/SF-Pro-Text-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF pro text";
  font-style: normal;
  font-weight: 600;
  src: url("../Assets/Fonts/Sf-pro-text/SF-Pro-Text-600.woff2") format("woff2"),
    url("../Assets/Fonts/Sf-pro-text/SF-Pro-Text-600.woff") format("woff");
}
