@import "../../Sass/Variables.scss";

.header {
  margin-bottom: 30px;
}

.header__top {
  padding: 10px 0;
  @include desktop-mini;
  background-color: $white;
  border-bottom: 1px solid $line-gray;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__top__left {
  display: flex;
  align-items: center;
}

.header__location {
  display: flex;
  align-items: center;
  margin-right: 40px;

  svg {
    display: block;
    margin-right: 8px;
    color: $primary;
  }

  &__select {
    margin-right: 8px;
  }

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../../Assets/Icons/Marker.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.header__check-address {
  margin-right: 40px;
  padding: 0;
  @include desktop-mini;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header__delivery-time {
  span {
    margin-right: 4px;
  }

  strong {
    font-weight: 600;
  }
}

.header__top__right {
  display: flex;
  align-items: center;
}

.header__work-time {
  margin-right: 40px;
}

.header__sign-in {
  display: flex;
  align-items: center;
  padding: 0;
  @include desktop-mini;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    display: block;
    margin-right: 8px;
    color: $primary;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header__bottom {
  margin-bottom: 30px;
  padding: 12px 0;
  background-color: $white;
  border-bottom: 1px solid $line-gray;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__link {
  display: flex;
  align-items: center;
  @include desktop-big-text;
  color: inherit;
  text-decoration: none;

  svg {
    color: $primary;
  }

  &__text {
    margin-left: 12px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  padding: 8px;
  color: $white;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: $primary;

  svg {
    margin-right: 8px;
  }

  span {
    @include desktop-normal;
  }
}

.header__burger {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and(max-width: 1200px) {
  .header__bottom {
    margin-bottom: 20px;
  }
}

@media only screen and(max-width: 880px) {
  .header__top__left {
    flex-grow: 1;
    justify-content: space-between;
  }

  .header__button {
    position: absolute;
    bottom: 20px;
  }
}

@media only screen and(max-width: 500px) {
  .header__top {
    @include mobile-mini;
  }

  .header__location {
    margin: 0;

    svg {
      margin-right: 4px;
    }

    &__select {
      margin: 0;
    }

    &::after {
      content: none;
    }
  }

  .header__bottom {
    padding: 15px 0;
  }
}
